# Node
node_modules/
dist/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
allure-results/
allure-report/

# Environmentgit add .gitignore

.env
.env.*

# Logs
*.log

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
reports/
test-results/