image: mcr.microsoft.com/playwright:v1.58.0-jammy

pipelines:
  branches:
    main:
      - step:
          name: Regression Execution
          caches:
            - node
          script:
            - npm ci
            - npx playwright install --with-deps
            - npm run test:ci:regression || true
            - npm run allure:ci:generate
            - cat allure-report-name.txt
          artifacts:
            - allure-report/**
            - playwright-report/**
